@import './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;

    a {
        text-decoration: none;
        color: #fff;
    }
}
body{
    background-color: $bg;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 15px 25px;
    background-color: $primary;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-secondary {
    background-color: transparent;
    border: 3px solid #fff;
}

.leading {
    color: $primary;
}

header {
    height: 80vh;
    padding: 40px 0;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.85),
            rgba(23, 23, 23, 0.207)),
        url(../assets/images/dark-hero-3-cover\ sec-.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                font-size: 30px;
                text-transform: uppercase;
            }

            ul {
                display: flex;
                align-items: center;
                margin-left: 40px;

                li {
                    margin-left: 15px;

                    a {
                        position: relative;
                        width: 50px;
                        height: 100px;
                        padding-bottom: 5px;
                    }

                    a::before {
                        position: absolute;
                        content: "";
                        background-color: white;
                        width: 0%;
                        bottom: 0;
                        left: 50%;
                        height: 3px;
                    }

                    a::after {
                        position: absolute;
                        content: "";
                        background-color: white;
                        width: 0%;
                        bottom: 0;
                        right: 50%;
                        height: 3px;
                    }

                    a:hover::before,
                    a:hover::after {
                        width: 50%;
                        transition: all 500ms ease-in-out;
                    }
                }
            }
        }

        .nav-btn {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                font-size: 18px;
                color: #fff;
            }
        }
    }

    .hero-section {
        margin: 50px 0;
        padding: 55px 0;
        width: 70%;
        color: #fff;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 80px;
            margin: 40px 0;
        }

        .ctn {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}

.section-3{
    .grid-container{
        margin: 0 auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;

        .grid-box{
            background-color: #fff;
            .upper-box{
                position: relative;
                img{
                    height: 100%;
                    width: 100%;
                    z-index: 100;
                    position: relative;
                }
                p,.icons{
                    position: absolute;
                    z-index: 200;
                }
                p{
                    top: 10px;
                    left: 20px;
                    background-color: red;
                    color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                }
                .icons{
                    display: flex;
                    bottom: 30px;
                    left: 20%;
                    gap: 10px;
                    i{
                        background-color: #fff;
                        padding: 10px;
                        border-radius: 50%;
                    }
                }
            }
            .lower-box{
            padding: 20px;
                .top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-size: 20px;
                    }
                    .rating{
                        background-color: $bg;
                        color: #fff;
                        display: flex;
                        font-size: 20px;
                        padding: 5px;
                        border-radius: 5px;
                        gap: 2px;
                        i{
                            color: rgb(242, 242, 8);
                        }
                    }
                }
                .heading, .sub-heading{
                    padding: 10px 0;
                    line-height: 2;
                }
                .downloads{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 20px;
                    color: gray;
                    padding: 20px 0;
                }
                .price{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 0;
                    font-size: 20px;
                    p:nth-child(2){
                        color: orangered;
                    }
                    p:nth-child(1){
                        color: gray;
                    }
                }
                button{
                    border: none;
                    background-color: transparent;
                    color: $primary;
                    border: 2px solid $primary;
                    border-radius: 30px;
                    margin-top: 20px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .section-3{
        .grid-container{
            // horizontal scrolling 
            // overflow-x: scroll;
            
            //one box at a time
            grid-template-columns: 1fr;
        }
    }
}